<h1>落合南長崎コート情報</h1>
<div class="center hero-unit">
<table class="table table-striped">
<thead>
  <th width="20%">イベント名称</th>
  <th width="20%">日時</th>
  <th width="20%">募集人数</th>
  <th width="20%">残り</th>
</thead>
<tbody>
<% @events_ochiai.zip(@pages_ochiai).each do |event_ochiai,page_ochiai| %>
	<tr>
    <td><a href = '<%= page_ochiai.ochiai_url %>'><%= event_ochiai.name %></a></td>
		<td><%= event_ochiai.start_date %></td>
		<td><%= event_ochiai.participants %></td>
		<td><%= event_ochiai.unoccupied_seats %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
