<h1>豊島園コート情報</h1>
<div class="center hero-unit">
<table class="table table-striped">
<thead>
  <th width="20%">イベント名称</th>
  <th width="20%">日時</th>
  <th width="20%">募集人数</th>
  <th width="20%">残り</th>
</thead>
<tbody>
<% @events_toshimaen.zip(@pages_toshimaen).each do |event_toshimaen,page_toshimaen| %>
  <tr>
		<td><a href = '<%= page_toshimaen.toshimaen_url %>'><%= event_toshimaen.name %></a></td>
    <td><%= event_toshimaen.start_date %></td>
    <td><%= event_toshimaen.participants %></td>
    <td><%= event_toshimaen.unoccupied_seats %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
